@import "../variables"

.inner
  display: flex
  justify-content: space-between
  align-items: baseline

.image
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-position: 50%
  background-repeat: none
  background-size: cover

.item
  margin: 10px
  flex-basis: calc(20% - 20px)

.outer
  position: relative
  padding-top: 133.333333%
