@import "../variables"

.item
  margin: 10px
  display: flex
  justify-content: center
  align-items: center
  background-color: $c-placeholder

.large
  flex-basis: calc(50% - 20px)
  min-height: 360px

.small
  flex-basis: calc(33.333333% - 20px)
  min-height: 240px

.title
  font-weight: 400
  font-size: 24px
  color: $c-inverse
  text-transform: uppercase
